---
import { gallery } from "@/data/gallery";
import BaseLayout from "@layouts/BaseLayout.astro";
import Section from "@components/Section/section.astro"
import Button from "@components/Button/Button.astro";
import siteData from "@config/siteData.json";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  return gallery.map((item) => ({
    params: { slug: item.slug }
  }));
}

const { slug } = Astro.params;
const media = gallery.find((item) => item.slug === slug);
---

<BaseLayout title={siteData.title} description={siteData.description} navStartStyle="white">
    <Section id="gallery-view" class="text-center">
        { media ? (
      <div id="gallery-media">
        <h1 transition:name={`title_${media.slug}`} class="mt-15 mb-3 text-center text-primary-100">{media.title}</h1>
        
        <Button transition:name={`back_${media.slug}`}  href="/gallery" class="w-fit" variant="ghost">
          ← Back to Gallery
        </Button>

        {media.type === "image" ? (
          <div class="w-full max-w-[800px] mx-auto mt-6 shadow-md bg-base-200 p-6 ">
              <Image
                  src={media.image as ImageMetadata}
                  alt={media.alt}
                  widths={[320, 480, 640, 768, 1024]}
                  sizes="(max-width: 768px) 100vw, 33vw"
                  format="webp"
                  quality={60}
                  loading="lazy"
                  class="w-full h-auto"
                  transition:name={`image_${media.slug}`}

              />
            </div>
            ) : media.type === "video" ? (
            <div class=" max-w-[600px] mx-auto mt-6 shadow-md bg-base-200 p-6">
                <video
                  src={media.image as string}
                  poster={media.thumbnail}
                  autoplay
                  controls
                  playsinline
                  class="w-full h-auto rounded-xl"
                  transition:name={`video_${media.slug}`}
                >
                  Your browser does not support the video tag.
               </video>
            </div>
            ) : null}

        </div>
    ) : (
      <p class="text-center text-red-500">Media not found.</p>
    )}
    </Section>

      <!-- Click Outside Script -->
      <script>
        document.addEventListener('click', (event) => {
          const mediaContent = document.getElementById('gallery-media');
          const target = event.target as Node;
      
          if (mediaContent && !mediaContent.contains(target)) {
            window.location.href = "/gallery";
          }
        });
      </script>
      
    
</BaseLayout>
