---

import { Image } from "astro:assets";
import aldair from "@assets/images/aldair.png"

import BaseLayout from "@layouts/BaseLayout.astro";

// components
import HeroPage from "@components/HeroPage/HeroPage.astro";
import Contact from "@components/Contact/Contact.astro";
import About from "@components/About/About.astro"

// data
import siteData from "@config/siteData.json";
import Section from "@components/Section/section.astro";
import Steps from "@components/Steps/Steps.astro";
import Whyme from "@components/WhyMe/Whyme.astro";
import ServicesCard from "@components/Services/ServicesCard.astro";

import heroData from "../data/heroData.json.ts";
import Marquee from "@components/Marquee/Marquee.astro";
const { title, description, CTA } = heroData;
---

<BaseLayout title={siteData.title} description={siteData.description} navStartStyle="white">
	<HeroPage title={title} description={description} CTA={CTA}/>

	{/* Steps */}
	<Section id="steps" class="bg-primary-300 text-primary-100 pb-0">
		<Steps />
	</Section>

	{/* Image */}
	<section class="relative w-full overflow-hidden parallax-wrapper mt-0 pt-0 h-[100vh];">	
		<div class=" absolute top-0 left-0 w-full h-full will-change-transform z-0" id="parallax-img">
			<Image src={aldair} alt="BrillaPro Solutions founder detailing a car"
			width={1280}
			height={533}
			class="w-full h-full object-cover"  
			format="webp"
			loading="lazy"
			quality={70}
		/>
		</div>

		
	</section>


	{/* Why Me */}
	<Section class="bg-gradient-dark">
		<Whyme />
	</Section>

	{/* My services */}
	<Section class="bg-white">
		<ServicesCard />
	</Section>

	<Marquee />

	{/* About Me*/ }
	<Section id="about" class="bg-primary-300">
			<About />
	</Section>
	
	<Section id="contact" class="bg-primary-300 ">
		<Contact />
	</Section>

</BaseLayout>



<script is:inline>
	const parallax = () => {
	  const image = document.getElementById("parallax-img");
  
	  if (!image) return;
  
	  window.addEventListener("scroll", () => {
		const scrolled = window.scrollY;
		image.style.transform = `translateY(${scrolled * 0.25}px)`; // Adjust speed here
	  });
	};
  
	document.addEventListener("DOMContentLoaded", parallax);
	document.addEventListener("astro:after-swap", parallax);
  </script>
  

  <style is:inline>
	.parallax-wrapper {
		height: 100vh;
		position: relative;
		overflow: hidden;
		background-color:var(--color-primary-300);
		}

  </style>