---
//import { gallery } from "@/data/gallery.json";
import { Image } from "astro:assets";

import cd2 from "@assets/gallery/detailing/cd2.jpg"
import cd4 from "@assets/gallery/detailing/cd4.jpg"
import cd6 from "@assets/gallery/detailing/cd6.jpg"

import cd5 from "@assets/gallery/detailing/cd5.png"
import cd8 from "@assets/gallery/detailing/cd8.png"



export const gallery = [
    {
      title: "Car Detailing",
      type: "image",
      image: cd2,
      alt: "Deep clean car exterior 1",
      slug:"deep-clean-car-exterior-1"
    },
    {
      title: "Car Detailing",
      type: "image",
      image: cd4,
      alt: "Deep clean car exterior 2",
      slug:"deep-clean-car-exterior-2"


    },
    {
      title: "Car Detailing",
      type: "image",
      image: cd6,      
      alt: "Deep clean car interior 1",
      slug:"deep-clean-car-interior-1"

    },
    {
      title: "Car Detailing",
      type: "image",
      image: cd5,      
      alt: "Close-up of a freshly cleaned car tire and polished chrome rim in Orlando driveway",
      slug:"white-suv-detailing"

    },
    {
      title: "Car Detailing",
      type: "image",
      image: cd8,      
      alt: "Shiny white SUV after car detailing, reflecting trees and sky in Orlando",
      slug:"clean-tire-detail"

    },
    {
      title: "Interior Detailing Video",
      type: "video",
      image:"/src/assets/gallery/detailing/videos/video.mp4",      
      alt: "Black leather car interior fully detailed with clean backseats and front seats",
      thumbnail: "",   //"/src/assets/gallery/detailing/cd1.JPG",
      slug:"interior-detailing-final-result"

    },
    {
      title: "Exterior Detailing Video",
      type: "video",
      image:"/src/assets/gallery/detailing/videos/video2.mov",      
      alt: "Shiny white SUV after car detailing",
      thumbnail: "",   //"/src/assets/gallery/detailing/cd1.JPG",
      slug:"exterior-detailing-final-result"

    },
    {
      title: "Rim Detailing Video",
      type: "video",
      image:"/src/assets/gallery/detailing/videos/video3.mov",      
      alt: "Shiney white Suv and close-up of a freshly cleaned rim ",
      thumbnail: "",   //"/src/assets/gallery/detailing/cd1.JPG",
      slug:"rim-detailing-final-result"

    },
    {
      title: "Deep Interior Car Cleaning with Vacuum Video",
      type: "video",
      image:"/src/assets/gallery/detailing/videos/video4.mov",      
      alt: "Dirty car interior before detailing with vacuum machine removing debris and stains",
      thumbnail: "",   //"/src/assets/gallery/detailing/cd1.JPG",
      slug:"deep-interior-car-cleaning-vacuum"

    },
    
  ];
  






---

<h1 class="p-10 text-center col">Gallery </h1>

<div class="columns-1 sm:columns-2 lg:columns-3 gap-4 mt-20 col">
    {gallery.map((item) => {
      return (
        <a 
          href={`/gallery/${item.slug}`}
          class="block mb-4 break-inside-avoid cursor-pointer"
        >
          {item.type === 'image' ? (
            <Image
              src={item.image as ImageMetadata}
              alt={item.alt}
              widths={[320, 480, 640, 768, 1024]}
              sizes="(max-width: 768px) 100vw, 33vw"
              format="webp"
              quality={60}
              loading="lazy"
              class="w-full h-auto rounded-lg shadow-md transition-transform duration-300 hover:scale-105"
              transition:name={`image_${item.slug}`}
            />
          ) : (
            <video
              src={item.image as string}
              poster={item.thumbnail}
              preload="metadata"
              muted
              controls
              controlslist="nodownload nofullscreen"
              playsinline
              class="w-full h-auto object-cover rounded-lg shadow-md  transition-transform duration-300 hover:scale-105 "
              transition:name={`video_${item.slug}`}
            />
          )}
        </a>
      );
    })}


  </div>
  