---
import { gallery } from "@/data/gallery.json";
import { Image } from "astro:assets";
---

<h1 class="p-10 text-center">Gallery </h1>

<div class="columns-1 sm:columns-2 lg:columns-3 gap-4 mt-20">
    {gallery.map((item) => {
      return (
        <a 
          href={`/gallery/${item.slug}`}
          class="block mb-4 break-inside-avoid cursor-pointer"
        >
          {item.type === 'image' ? (
            <Image
              src={item.image as ImageMetadata}
              alt={item.alt}
              widths={[320, 480, 640, 768, 1024]}
              sizes="(max-width: 768px) 100vw, 33vw"
              format="webp"
              quality={60}
              loading="lazy"
              class="w-full h-auto rounded-lg shadow-md transition-transform duration-300 hover:scale-105"
              transition:name={`image_${item.slug}`}
            />
          ) : (
            <video
              src={item.image as string}
              poster={item.thumbnail}
              preload="metadata"
              muted
              controls
              controlslist="nodownload nofullscreen"
              playsinline
              class="w-full h-auto object-cover rounded-lg shadow-md  transition-transform duration-300 hover:scale-105 "
              transition:name={`video_${item.slug}`}
            />
          )}
        </a>
      );
    })}


  </div>
  